.App {
    font-family: sans-serif;
    width: 600px;
    margin: auto;

}

.TimeboxCreator {
    text-align: right;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.TimeboxCreator>label>input {
    min-width: 60%;
    margin-left: 20px;
    font-style: 16px;

}

button {
    font-style: 16px;


}

.Timebox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.TimeboxListElement {
    margin-top: 5px;
    display: flex;
    background-color: #F2BD41;
    color: #1A18A1;
    align-items: center;

}

.TimeboxListElementTitle>textarea {
    width: 100%
}

.TimeboxListElementTitle {
    width: 80%;
    height: 100%;
    text-align: left;

    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

.TimeboxListElementTime>input[type=number] {
    width: 40px;
}

.TimeboxListElementTime {
    width: 155px;
    justify-content: center;
    display: flex;
}

.TimeboxListElementTitle textarea,
.TimeboxListElementTime input {
    border: 0px;
    color: #1A18A1;
}

.TimeboxListElementTitle textarea:disabled,
.TimeboxListElementTime input:disabled {
    border: 0px;
    background-color: #F2BD41;
}

.TimeboxListElementAction {
    width: 110px;
    justify-content: center;
    display: flex;
}

.Clock {
    color: orangered;
    ;
}

.ProgressBar {
    border: 1px solid orange;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;

}

.ProgressBar_trackRemaining_true::before {
    width: calc(100% - var(--width));
    float: left;
}

.ProgressBar_trackRemaining_false::before {
    width: calc(var(--width));
    float: left;
}

.ProgressBar::before {
    background-color: red;
    content: "";
    height: 100%;


}

.inactive {
    filter: blur(2px) grayscale(0.4);
}