.App {
    font-family: sans-serif;
    width: 600px;
    margin: auto;

}
.AppHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    > div:nth-of-type(1) {
        width: 80%;        
    }
    > div:nth-of-type(2) {
        width: 20%; 
        display: flex;
        justify-content: right;
    }
}