// .LoginForm {
//     &__error-message {
//         margin: 15px auto;
//         text-align: center;
//         border: 1px solid red;
//         padding: 10px;
//         border-radius: 5px;
//         color: red;
//     }
// }

.LoginForm {
    &__error-message {
        margin: 15px auto;
        text-align: center;
        border: 1px solid red;
        padding: 10px;
        border-radius: 5px;
        color: red;
    }
}

.LogoutButton {    
    all:unset; 
    svg {
        height: $react-icons-button-medium;
        width: $react-icons-button-medium;          
    }
}