.TimeboxCreator {
    text-align: right;
    border: $default-border;
    border-radius: $border-radius;
    padding: 20px;
    margin-bottom: 20px;

    >label {
        >input {
            min-width: 60%;
            margin-left: 20px;
            font-style: 16px;
        }
    }
}