.Timebox {   
    text-align: center;

    >button {
        all: unset;        
    }
    svg {
        height: $react-icons-button-medium;
        width: $react-icons-button-medium;          
    }
}