.TimeboxListElement {
    margin-top: $margin-top;
    display: flex;
    background-color: $list-element-background-color;
    color: $list-element-color;
    align-items: center;

    >textarea {
        width: 100%
    }
}

.TimeboxListElementTitle {
    width: 80%;
    height: 100%;
    text-align: left;

    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;

    >textarea {
        width: 100%;
    }
}


.TimeboxListElementTime {
    width: 155px;
    justify-content: center;
    display: flex;

    >input {
        &[type=number] {
            width: 40px;
        }
    }
}

.TimeboxListElementTitle textarea,
.TimeboxListElementTime input {
    border: 0px;
    color: $list-element-color;
}

.TimeboxListElementTitle textarea:disabled,
.TimeboxListElementTime input:disabled {
    border: 0px;
    background-color: $list-element-background-color;
}

.TimeboxListElementAction {
    width: 110px;
    justify-content: center;
    display: flex;
}